// Globals
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 0 0 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1140px;
    margin-top: 3rem;
  }

  // Prontuario eletronico
  .prontuario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .field-container {
        margin-bottom: 20px;
    }
    label {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 14px;
    }
    input[type=text],
    textarea {
        width: 100%;
    }
    .medicalRecord {
        width: 65%;
    }
    .list-exams {
        list-style: disc;
        margin: 0;
    }
    .half-field {
        display: inline-block;
        width: 48%;
        &:nth-child(even) {
            margin-right: 2%;
        }
    }
    .container-btns {
        text-align: center;
        margin-top: 50px;
        .btn-form {
            border: 0;
            background-color: #ef8354;
            padding: 10px 20px;
            border-radius: 10px;
            margin: 0 10px;
            cursor: pointer;
            outline: none;
            color: #fff;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

  // Form
  input,
  textarea {
      border: 1px solid #bfc0c0;
      border-radius: 3px;
      outline: none;
      font-family: 'Roboto', sans-serif;
      background-color: #fff;
      color: #2d3142;
      padding: 10px;
      &:focus {
        box-shadow: 0 1px 5px #bfc0c0;
      }
      &:disabled {
          color: #bfc0c0;
      }
  }
  fieldset {
    border: 1px solid #bfc0c0;
    padding: 2%;
    margin: 0;
    border-radius: 10px;
  }
  fieldset + fieldset {
    margin-top: 30px;
  }