footer {
    background-color: #404447;
    width: 100%;
    .wrapper {
        margin: 0 auto;
        max-width: 1140px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
    }
    .content {
        font-weight: 300;
        color: #aab1b6;
        a {
            color: #aab1b6;
        }
        p {
            line-height: 22px;
            font-size: 13px;
        }
    }
}

@media only screen and (max-width: 1139px) {
    footer {
        .wrapper {
            flex-direction: column;
            padding: 5%;
        }
        .content {
            width: 100%;
        }
    }
}